.lobby-container {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.nickname-container {
	display: flex;
	align-items: center;
	height: 50;
	width: 100%;
	border-radius: 5px;
	background-color: lightcyan;
	margin-bottom: 40;
}

.nickname {
	font-family: $font-main;
	font-size: 36px;
	border-radius: 5px;
	background-color: lightpink;
	height: 80%;
	width: 80%;
}

.nickname-subtext {
	font-family: $font-main;
	font-size: 18px;
	color: lightgrey;
}

.free-players-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.free-player-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40;

	border-radius: 5px;
	margin-bottom: 5px;
	background-color: lightblue;
}

.free-player-header {
	font-family:  $font-main;
	font-size: 36;
	font-weight: bold;
	margin-bottom: 10px;
}

.free-player-text {
	padding: 5px;
	font-family:  $font-main;
	font-size: 24;
}

.free-sessions-container {
	display: flex;
	flex-direction: column;
}

.free-session-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 40;

	background-color: lightgreen;
	border-radius: 5px;
	margin-bottom: 5px;
}

.free-session-header {
	display: flex;
	justify-content: space-between;
	font-family:  $font-main;
	font-size: 36;
	font-weight: bold;
	margin-bottom: 10px;
}

.free-session-text {
	font-family:  $font-main;
	font-size: 24;
	padding: 5px;
}

.join-session-button {
	background-color: lightcoral;
	font-family:  $font-main;
	font-size: 24;
	color: white;
	border-radius: 5px;
	height: 100%;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: lightgoldenrodyellow;
	}
}

.new-game-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40;
	border-radius: 5px;
	padding: 5px;
	background-color: lightgreen;
	font-family:  $font-main;
	font-size: 24;	

	&:hover {
		background-color: green;
	}
}

.start-game-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40;
	border-radius: 5px;
	padding: 5px;
	background-color: lightgreen;
	font-family:  $font-main;
	font-size: 24;	

	&:hover {
		background-color: green;
	}
}

